{% include '_navbar.html' %}
<h1>Add or Edit a Hop</h1>
<form method="POST" action="/hops/" class="well">{% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" name="id" value="{{ id }}">
        <!-- HOP VARIETY -->
        {{hopform.hop_name.label_tag}}
        {{hopform.hop_name}}
      </div>
    </div>
  </div> <!-- END ROW -->

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <!-- ALPHA ACID LOW -->
        {{hopform.alpha_acid_low.label_tag}}
        {{hopform.alpha_acid_low}}
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <!-- ALPHA ACID HIGH -->
        {{hopform.alpha_acid_high.label_tag}}
        {{hopform.alpha_acid_high}}
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <!-- BETA ACID LOW -->
        {{hopform.beta_acid_low.label_tag}}
        {{hopform.beta_acid_low}}
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <!-- BETA ACID HIGH -->
        {{hopform.beta_acid_high.label_tag}}
        {{hopform.beta_acid_high}}
      </div>
    </div>
  </div> <!-- END ROW -->

  <div class="row">
    <!-- TOTAL OIL LOW -->
    <div class="col-md-3">
      <div class="form-group">
        {{hopform.total_oil_low.label_tag}}
        {{hopform.total_oil_low}}
      </div>
    </div>
    <!-- TOTAL OIL HIGH -->
    <div class="col-md-3">
      <div class="form-group">
        {{hopform.total_oil_high.label_tag}}
        {{hopform.total_oil_high}}
      </div>
    </div>
    <!-- COHUMULONE LOW -->
    <div class="col-md-3">
      <div class="form-group">
        {{hopform.cohumulone_low.label_tag}}
        {{hopform.cohumulone_low}}
      </div>
    </div>
    <!-- COHUMULONE HIGH -->
    <div class="col-md-3">
      <div class="form-group">
        {{hopform.cohumulone_high.label_tag}}
        {{hopform.cohumulone_high}}
      </div>
    </div>
  </div> <!-- END ROW -->

  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
  </div> <!-- END ROW -->
  <div class="row">
    <div class="col-md-12">
    </div>
  </div> <!-- END ROW -->
  <button type="submit" class="btn btn-default">Submit</button>
</form>
