{% include '_navbar.html' %}

<h1>Add a New Hop</h1>
{{ hopform }}
<form method="POST" action="/hops/" class="well">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="hop_name">Hop Name</label>
        <input type="text" name="hop_name" class="form-control" id="hop-name" placeholder="Hop Name" value="{{ hop.hop_name }}">
      </div>
    </div>
  </div> <!-- END ROW -->

  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <!-- <label for="alpha_acid_low">Alpha Acid Low</label> -->
        {{hopform.alpha_acid_low.label_tag}}

        <!-- <label for="{{hopform.alpha_acid_low.id_for_label}}">{{hopform.alpha_acid_low.label}}</label> -->

        {{hopform.alpha_acid_low}}
        <!-- <input type="number" name="alpha_acid_low" class="form-control" id="alpha-acid-low" placeholder="Alpha Acid Low" value="{{ hop.alpha_acid_low }}"> -->
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="alpha_acid_high">Alpha Acid High</label>
        <input type="text" name="alpha_acid_high" class="form-control" id="alpha-acid-high" placeholder="Alpha Acid High" value="{{ hop.alpha_acid_high }}">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="beta_acid_low">Beta Acid Low</label>
        <input type="text" name="beta_acid_low" class="form-control" id="beta-acid-low" placeholder="Beta Acid Low" value="{{ hop.beta_acid_low }}">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="beta_acid_low">Beta Acid High</label>
        <input type="text" name="beta_acid_high" class="form-control" id="beta-acid-high" placeholder="Beta Acid High" value="{{ hop.beta_acid_high }}">
      </div>
    </div>

  </div> <!-- END ROW -->

  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <label for="total_oil_low">Total Oil Low</label>
        <input type="text" name="total_oil_low" class="form-control" id="total-oil-low" placeholder="Total Oil Low" value="{{ hop.total_oil_low }}">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="total_oil_high">Total Oil High</label>
        <input type="text" name="total_oil_high" class="form-control" id="total-oil-high" placeholder="Total Oil Low" value="{{ hop.total_oil_high }}">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="cohumulone_low">Cohumulone Low</label>
        <input type="text" name="cohumulone_low" class="form-control" id="cohumulone-low" placeholder="Cohumulone Low" value="{{ hop.cohumulone_low }}">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="cohumulone_high">Cohumulone High</label>
        <input type="text" name="cohumulone_high" class="form-control" id="cohumulone-high" placeholder="Cohumulone High" value="{{ hop.cohumulone_high }}">
      </div>
    </div>

  </div> <!-- END ROW -->
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
